.@{prefix}-forms {

    .@{prefix}-cell__form {
        padding: 0 1rem;
    }

    .@{prefix}-input {
        height: 44px;
    }

    input, textarea, select {
        width: 100%;
        outline: none;
        border: none;
        background: transparent;
        font-size: 14px;
        line-height: 1;
        -webkit-appearance: none;
        color: @text-dark;

        .input-placeholder();
    }

    .@{prefix}-cell__hd {
        min-width: @label-width;
    }
}


