.clearfix {
    .clearfix();
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hidden, .hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.affix {
    position: fixed!important;
}
.bold {
    font-weight: bold;
}

.text-primary, .bg-primary {
    color: @color-primary;
}

.text-success, .bg-success {
    color: @color-success;
}

.text-info, .bg-info {
    color: @color-info;
}

.text-error, .bg-error {
    color: @color-error;
}

.text-warning, .bg-warning {
    color: @color-warning;
}
.text-dark, .bg-dark {
    color: @text-dark;
}

.text-light, .bg-light {
    color: @text-light;
}

.text-default, .bg-default {
    color: @text-default;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-normal {
    font-size: 14px;
}

.text-sm {
    font-size: 12px;
}

.text-lg {
    font-size: 16px;
}
input[type="file"] {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0;
}


img {
    display: block;
}
