//Variables
//-------------------------------------------

@base-font-size: 14;

//Colors
@color-default: #000;
@color-primary: #f25b4a;
@color-success: #38b754;
@color-info: #1867c0;
@color-warning: #f59438;
@color-error: #ea1c0d;

@bg-default: #f7f7f7;

//文本默认颜色
@text-default: #666;
@text-dark: #333;
@text-light: #999;


@prefix: su;
@font-path: "../../assets/fonts/";

@border-color: #e5e5e5;

//button
@btn-radius: 2/12rem;
@btn-default-padding: 14/12rem 28/12rem;
@btn-default-font-size: 14px;

@btn-lg-padding: 16/12rem 32/12rem;
@btn-lg-font-size: 15px;

@btn-md-padding: 13/12rem 26/12rem;
@btn-md-font-size: 14px;

@btn-xs-padding: 1rem 2rem;
@btn-xs-font-size: 14px;

@btn-sm-padding: 7/12rem 14/12rem;
@btn-sm-font-size: 12px;

//cell
@cells-padding-horizontal: 10/12rem;
@cell-padding-vertical: 1rem;
@cell-padding-horizontal: 15/12rem;
@cell-ft-arrow: 9/12rem;
@cell-ft-padding: 13/12rem;

//grid

@grid-default-padding: 1.5px;


//input
@label-width: 105/12rem;
@input-color-placeholder: @text-light;


//avatar
@avatar-default-size: 72/12rem;

//checkbox
@checkbox-default-size: 32/12rem;

//dialog
@dialog-default-index: 999;

//card
@card-padding: 16/12rem;

//message
@message-top: 1.5rem;
