//Variables
//-------------------------------------------

@base-font-size: 14px;

//Colors
@color-default: #000;
@color-primary: #f25b4a;
@color-success: #38b754;
@color-info: #1867c0;
@color-warning: #f59438;
@color-error: #ea1c0d;

@bg-default: #f7f7f7;

//文本默认颜色
@text-default: #666;
@text-dark: #333;
@text-light: #999;


@prefix: su;
@font-path: "../../assets/fonts/";

@border-color: #e5e5e5;

//button
@btn-radius: 0.02rem;
@btn-default-padding: 0.14rem 0.28rem;
@btn-default-font-size: 14px;

@btn-lg-padding: 0.16rem 0.32rem;
@btn-lg-font-size: 15px;

@btn-md-padding: 0.13rem 0.26rem;
@btn-md-font-size: 14px;

@btn-xs-padding: 0.12rem 0.24rem;
@btn-xs-font-size: 14px;

@btn-sm-padding: 0.07rem 0.14rem;
@btn-sm-font-size: 12px;

//cell
@cells-padding-horizontal: 0.1rem;
@cell-padding-vertical: 0.12rem;
@cell-padding-horizontal: 0.15rem;
@cell-ft-arrow: 0.09rem;
@cell-ft-padding: 0.13rem;

//grid

@grid-default-padding: 1.5px;


//input
@label-width: 1.05rem;
@input-color-placeholder: @text-light;


//avatar
@avatar-default-size: 0.72rem;

//checkbox
@checkbox-default-size: 0.32rem;

//dialog
@dialog-default-index: 999;

//card
@card-padding: 0.16rem;

//message
@message-top: 0.18rem;

//navbar
@navbar-height: 0.44rem;
@navbar-padding-default: 0.08rem;
@navbar-font-size: 16px;
@navbar-border-width: 0.02rem;
@navbar-height-text: 0.28rem;
@navbar-padding-item: 0.20rem;

//tabar
@tabbar-height: 0.49rem;
@tabbar-padding: 0.05rem;
@tabbar-height-text: 0.14rem;
@tabbar-font-size: 12px;
@tabbar-background-color: #fafafa;
@tabbar-color: #888;
@tabbar-icon-width: 0.24rem;

//actionsheet
@actionsheet-item-padding: 0.14rem;
@actionsheet-action-margin: 0.06rem;

//picker
@picker-item-height: 0.36rem;
@picker-item-num: 7;

//spin
@spin-default-size: 0.36rem;
@spin-default-font-size: 36px;

//indicator
@indicator-default-size: 0.90rem;
@indicator-text-size: 1.2rem;
@indicator-text-margin: 0.2rem;

//search
@search-layout-padding: 0.08rem 0.12rem;
@search-default-height: 0.28rem;
@search-input-padding: 0.33rem;

//panel
@panel-default-padding: 0.12rem;
@panel-hd-height: 0.4rem;
@panel-default-padding-vertical: 0.15rem;

//box
@box-default-padding: 0.115rem;
@box-hd-padding: 0.1rem;

//switch
@switch-default-width: 0.6rem;
@switch-radius: 1rem;
@switch-padding: 0.05rem;
@switch-dot-with: 0.25rem;

//input
@input-default-height: 0.44rem;

//input-number
@number-padding: 0.05rem;
@number-btn-padding: 0.15rem;

//calendar
@calendar-week-height: 0.17rem;
@calendar-day-cell-width: 0.36rem;
@calendar-day-row-padding: 0.08rem;
@calendar-title-height: 0.44rem;
@calendar-title-padding: 0.16rem;
